body{
    margin: 0;
    background: darkgrey;
}
.btn_marg{
    display: inline-block;
    position: relative;
    /*margin: 20px auto;*/
    margin-bottom: 20px;
    width: 200px;
    left: 50%;
    transform: translateX(-100px);
    margin-top: 5px;
}
.a_group{
    width: 100%;
    /*position: absolute;*/
    display: block;
    /*flex: content-box;*/
    bottom: 0;
    margin-bottom: 10px;

}

.export{
    left: -20px;
    position: relative;
    margin: -15px 5px 10px 5px;
    width: 100%;
    /*justify-content: left;*/
    /*float: left;*/
}
.export > a{
    width: 24%;
    font-size: 16px;
}
.option-input {
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background: #40e0d0;
}
.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
@media screen and (min-width: 320px) {
    .card_i3{
        margin-top: 10px;
    }

    .row{
        margin-right: 0;
        margin-left: 0;
    }
    .card_i{
        margin: 2px 0;
        padding: 0 2px;
    }
    .btn_reg{
        display: block;
        margin: 0 auto;
        position: relative;
    }
    .export > a{
        width: 23%;
        font-size: 14px;
        /*padding: 6px 12px;*/
    }
    .export a:first-child{
        /*margin: 5px 0;*/
        margin-left: 16px;
    }
    .btnnn{
        display: grid;
        padding: 0;
        margin: 0;
        position: fixed;
        right: 0;
        bottom: 20px;
        z-index: 10;

        border-radius: 2px;
        transition: all 1s;
    }
    .exp{
        margin: 2px 0;
        background-color: #e8b600c4;
        border-radius: 5px;
        transition: all 0.5s;
        width: 70px;

    }
    .exp:active{
        background-color: #927b2ac4;
    }
    /*.exp:hover{*/
    /*    background-color: #927b2ac4;*/
    /*}*/

    .form-control{
        width: 75%;
        margin-right: 5px;
    }
    .nav_a{
        margin-left: 10px;
        display: inline-block;
        padding: 11px;
        position: relative;
        top: 0;
        text-decoration: none;
        color: #E0E0E0;
        font-size: 20px;
    }
    .Ul-nav{
        display: none;
        list-style-type: none;
    }
    .Ul-nav > li{
        color: #E0E0E0;
        padding: 5px;
    }
    .div-nav [type="checkbox"]{
        display: none;
    }
    .div-nav label.menu{
        color: #E0E0E0;
        font-size: 20px;
        padding: 5px 15px;
        display: block;
        }
    input.menu:checked + label.menu{
        background-color: #313a50;
        color: floralwhite;
        font-weight: bold;
    }
    input.menu:checked ~ .Ul-nav{
        display: block;

    }
    .search{
        margin: 10px;
    }
    .lab_name{
        display:inline-block;
        color: #E0E0E0;
        font-size: 15px;
    }
    .name{
        display: none;
    }
    .form-mob{
        width: 100%;!important;
    }
    .cont{
        padding-left: 0;
        padding-right: 0;
    }
    .card-body{
        padding: 18px;
    }
}
@media screen and (min-width: 800px) {
    .card_i{
        margin: 5px 12px 5px 12px;
        width: 30%;

    }
    .btn_reg{
        display: inline-block;
    }
    .export > a{
        font-size: 16px;
    }
    .size{
        height: 350px;
        width: 600px;
    }
    .cont{
        margin-top: 50px;
    }
    .img_i{
        padding: 2px;
    }
    .card_i:hover{
        background: lightgoldenrodyellow;
    }

    .li_li{
        right: 100px;
    }
    .a_marg{
        margin: 0 5px;
    }
       .btn_reg{
        display: inline-block;
    }
    .export > a{
        font-size: 16px;
    }
    .btnnn{
        display: block;
        padding: 0;
        margin: 0;
        position: fixed;
        left: 30px;
        bottom: 60px;
        background: none;
        width: 300px;
    }
    .exp{
        border: none;
        background-color: #e8b600c4;
        transition: all 0.5s;
        border-radius: 5px;
        width: 70px;
    }
    .exp:hover{
        background-color: #e8b600c4;
        transition: all 0.5s;
        border-radius: 35%;


    }
    .bg-nav{
        display: flex;
    }
    .nav_a{

        margin-left: 10px;
        display: block;
        padding: 11px;
        position: relative;
        top: 0;
        text-decoration: none;
        color: #E0E0E0;
        font-size: 30px;
    }
    .div-nav{
    display: flex;
        justify-content: center;
    }
    .Ul-nav{
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .Ul-nav > li{
        padding: 11px 2px;
        font-size: 20px;
    }
    .Ul-nav > li:hover{
        background-color: #9faab7;

    }
    .search{
        display: block;
        position: absolute;
        right: 0;
        margin: 15px;

    }
    .div-nav label.menu{
        display: none;
    }
    .lab_name{
        display: none;
    }
    .name{
        display: block;
    }
}
.active{
    background-color: rgba(130,116,116,0.5);

}